.wrapper {
  position: relative;
}

.title {
  font-weight: 600;
  font-size: x-large;
  line-height: 32px;
  margin-bottom: 32px;
}

.label {
  font-weight: 500;
  font-size: x-large;
  line-height: 24px;
  margin-bottom: 16px;
}

.gestures {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .text {
    font-size: medium;
    font-weight: 500;
    line-height: 24px;
  }
}
